body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    color: #e9e9e9;
}
.logo{
    width: 25%;
    display: flex; 
    justify-content: center; /*แนวนอน*/
    align-items: center;/*แนวตั้ง*/ 
    padding: 0.5rem;
}
.logo img{
    margin: 0 1rem;
    width: 75px;
    border-radius: 100px;
    box-shadow:  0 0 10px #135c81; /*เงาขอบ*/
}
.logo h1{
    color: aliceblue;
    width: 100%;
    padding: 1rem;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; /*ลบจุดหน้าลิ้ง ( li )*/
}
ul li{
    margin:  0 1rem;
}
ul li a{
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-decoration: none; /*ลบเส้นลิ้ง*/
}
.navbar a:hover{
    text-shadow:  0 0 20px #ffffff; /*เงาขอบ*/
}

/*----------------------NAV-------------------------------------------*/


header{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;  
}
.header-info{
    height: 250px;
    text-align: center;
    width: 650px;
}
.header-info a{
    display: block;
    width:150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
    background-color:#85c5e6;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    box-shadow:  0 0 10px #85c5e6; /*เงาขอบ*/
}
.header-2{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}
.header-info-2{
    height: 100px;
    text-align: center;
    width: 650px;
}

.header-info a:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    box-shadow:  0 0 100px #85c5e6; /*เงาขอบ*/
}

.header-food{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 250px;  
}
.header-info-food{
    justify-content: center;
    align-items: center;
    display: grid;
    top: 15px;
    height: 300px;
    border:  solid rgb(199, 199, 199);
}
.header-info-food{
    height: auto;
    text-align: center;
    width: 650px;
}
/*----------------------INFO-------------------------------------------*/

.team{
    margin: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.team-item{
    margin: 0 0.3rem;
    border-radius: 10px;
    padding: 2rem;
    background-color:rgb(255, 255, 255);
    color: aliceblue;
    text-align: center;
    border: #bbbbbb 0.1px solid;
}
.team-item p,h3{
    color: black;
    padding: 1rem;
}
.team-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #85c5e6;
    padding: 0.5rem;
    border-radius: 5px;
    color: #000000;
    box-shadow:  0 0 10px #85c5e6; /*เงาขอบ*/
    
}
.team-item a:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    box-shadow:  0 0 20px  #85c5e6; /*เงาขอบ*/
}
.team-item:hover{
    background-color: #f9f9f9;
    box-shadow:  0 0 10px rgb(163, 163, 163); /*เงาขอบ*/
    margin: -1rem 0px;
}
.team-item img{
    width: 100px;
    border-radius: 100px;
    box-shadow:  0 0 10px rgb(163, 163, 163); /*เงาขอบ*/
}
/*---------------------team-------------------------------------------*/

.food{
    margin:1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.food-item {
    border-radius: 5px;
    padding: 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    margin: 0.2rem;
    justify-content: center;
    text-align: center;
}
.food-item img{
    height: 150px;
    width: 100%;
    text-align: center;
}
.food-item .detail p{
    margin: 1rem 0.3rem;
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: black;
}

.food-item .sub{
    display: flex;
}
.food a{
    text-decoration: none;
    color: aliceblue;
}
.food-item  .sub .y{
    background-color: #85c5e6;
    padding: 0.5rem;
    width: 75%;
    border-radius: 5px;
    color: #000000;
    box-shadow:  0 0 10px #85c5e6; /*เงาขอบ*/
}
.food-item  .sub .n{
    margin: 0 0.3rem;
    background-color: rgb(220, 54, 54);
    padding: 0.5rem;
    width: 25%;
    color: #ffffff;
    border-radius: 5px;
    box-shadow:  0 0 10px rgb(220, 54, 54); /*เงาขอบ*/
}
.food-item .y:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    box-shadow:  0 0 10px #000000; /*เงาขอบ*/

}
.food-item .n:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.food-item:hover{
    background-color: #ffffff;
    box-shadow:  0 0 10px rgb(163, 163, 163); /*เงาขอบ*/
    width: 350px;
    height: 250px;
}

/*---------------------------------------------------------------------------*/

.slideshow-container{
    max-width: 700px;
    position: relative;
    margin: auto;
}
.myslide{
    display: none;
    justify-content: center;
    text-align: center;
}
.myslide img{
    justify-content: center;
    text-align: center;
    width: 50% -50%;
    height: 300px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius:  0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: black;
    color: aliceblue;
}
.dots{
    position: relative;
    top: -1rem;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 0px;
    background-color: #e9e9e9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #8d8d8d;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5;
}
@keyframes fade{
    from{opacity: .4}
    to {opacity: 1}
}

/*----------------------------img-------------------------------*/
.header-language{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}
.header-language h1{
    border:  solid rgb(204, 204, 204);
    padding: 1rem;
    border-radius: 3px;
}

.language{
    margin:1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.api-item {
    border-radius: 5px;
    padding: 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    margin: 0.2rem;
    justify-content: center;
    text-align: center;
}
.api-item img{
    height: 150px;
    width: 100%;
    text-align: center;
}
.api-item .detail p{
    margin: 1rem 0.3rem;
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: black;
}
.api-item .y{
    text-decoration: none;
    color: aliceblue;
    
}
.api-item  .sub .y{
    background-color: #000000;
    padding: 0.5rem;
    color: #ffffff;
    width: auto;
    border-radius: 12px;
    
}
.api-item .sub a:hover{
    background-color: rgb(39, 219, 141);
    color: rgb(0, 0, 0);
    box-shadow:  0 0 20px rgb(39, 219, 141); /*เงาขอบ*/

}
.api-item:hover{
    background-color: #ffffff;
    box-shadow:  0 0 10px rgb(163, 163, 163); /*เงาขอบ*/
    width: 350px;
    height: 250px;
}
/*----------------------------API-------------------------------*/

footer{
    background-color: black;
    padding: 1rem;
    text-align: center;
    color: aliceblue;
}
/*---------------------end------------------------------------------*/
